.JobPost{
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px lightgray solid;
}
.JobPost .companyImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    border-radius: 50%;
}

.JobPost .jobName{
    font-size: 20px;
    font-weight: bold;
}

.JobPost .time{
    margin-left: 5px;
    color: green;
}

.JobPost .bounty{
    text-align: right;
    color: RoyalBlue;
    font-weight: bold;
}

.interview_bountry{
    font-size: 10px
}

.timeline_item{
    position: absolute;
    top: 0px;
}

.timeline_item.arrow{
    background: rgb(111, 111, 216);
    border-radius: 50%;

    color: rgb(255, 255, 255);
}

.timeline_item.left{
    left: 0px;
}
.timeline_item.middle{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.timeline_item.right{
    right: 0px;
}

.timeline_part{
    position: relative;
}

span.timeline_item{
    width: fit-content;
    background: white;
}

